* {font-family: sans-serif;}
.contentBlock {background: url(images/pixelstripe.png); width: 100%; float: left; outline: 1px dashed #ccc; margin-bottom: 15px; min-height: 45px;}
.contentBlock img {padding-top: 0; margin-right: 10px;}
